@import "https://fonts.googleapis.com/css?family=PT+Sans";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*==============web fonts===================*/
@font-face {
  font-family: 'angelina';
  src: url("../web_fonts/angelina.eot");
  src: local("angelina"), url("../web_fonts/angelina.woff") format("woff"), url("../web_fonts/angelina.ttf") format("truetype");
}
/*======================
limited reset===============================*/
html,
body,
div,
section,
main,
article,
aside,
header,
hgroup,
footer,
nav,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video,
th,
td,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  z-index: 0;
  text-decoration: none;
  list-style: none;
}

/*html5 display rule*/
address,
article,
main,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
  display: block;
  position: relative;
}

/*==================main layout styles=================================*/
body {
  max-width: 1300px;
  margin: auto;
  position: relative;
  overflow: scroll;
}

header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

main {
  margin: auto;
  padding-top: 145px;
  display: block;
  width: 80%;
}

footer {
  width: 100%;
  z-index: 0;
}

/*==============main styles=================*/
body {
  font-size: 140%;
  font-family: 'myriad-pro';
  font-style: normal;
  font-weight: 300;
}

article,
aside {
  padding: 0.2em 0 1em;
  margin: 0 auto 2em;
}

h1 {
  font-size: 200%;
  font-weight: 500;
  text-align: center;
  margin: 0 1em;
  color: #0285BF;
}

h2 {
  color: #818582;
  font-size: 140%;
  padding: 1em;
  text-align: center;
  margin: 0 1em;
}

p {
  padding: 0 .5em;
  line-height: 1.2;
  margin: 1em 0;
  text-align: justify;
}

em, .white-page a em {
  font-family: "angelina";
  color: #E47825;
  font-weight: bold;
  font-size: 130%;
  text-decoration: none;
}

.white-page a:hover,
main a:hover,
main a:focus,
main a:hover em,
main a:focus em,
main a:hover strong,
main a:focus strong,
main a em:hover,
main a:hover h1,
main a:hover h2,
main a:hover h3 {
  color: #946E4A;
  text-decoration-color: #946E4A;
}

strong,
a strong {
  font-weight: bold;
}

a strong {
  color: black;
}

.hint {
  font-size: 80%;
}

/*----------MISC Styles like blockquote, offset ----------------*/
blockquote {
  width: 80%;
  margin: 1em auto;
  font-size: 110%;
  padding: .5em 1.5em 1em;
  border-left: 3px solid #E47825;
  list-style: none;
  background: #fafafa;
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
}

blockquote p {
  padding: .5em 0;
  counter-reset: item;
  margin: 0;
}

.offset {
  display: block;
  content: "";
  height: 140px;
  /* Give height of your fixed element */
  /* Give negative margin of your fixed element */
  margin-top: -140px;
  visibility: hidden;
}

/*-----------back to top fixed link styles--------------*/
.back-to-top {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 10%;
  padding: .25% 1%;
  background-color: #0285BF;
  opacity: .6;
  font-size: 90%;
  color: white;
  text-align: center;
  line-height: 1.5;
  z-index: 2000;
}

.blue-page .back-to-top {
  background-color: black;
}

.back-to-top:hover {
  opacity: 1;
  cursor: pointer;
  color: white;
}

/*============================Navigation styles================================*/
.nav {
  max-width: 1300px;
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
  background: #815397;
  z-index: 2000;
}

/*----placing first page nav element at top----*/
#first-page .nav {
  top: 0;
}

/*---remove logo from front page-----*/
#first-page #logo {
  display: none;
}

#logo {
  width: 100%;
  max-width: 1300px;
  height: 100px;
  position: fixed;
  left: 0;
  background: url("../images/BMB_Web_MiniBanner1-0abd0685cb.png") no-repeat white;
  background-position: center top;
  background-size: contain;
  margin: 0;
  z-index: 2000;
}

.logo-pic2 #logo {
  background: url("../images/BMB_Web_MiniBanner2-45208b9674.png") white no-repeat;
  background-position: center top;
  background-size: contain;
}

.logo-pic3 #logo {
  background: url(../images/Back2Back_AboutUsBanner-479d3d48d2.png) black no-repeat;
  background-position: center top;
  background-size: contain;
}

.nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.nav ul li {
  width: 140px;
  align-items: center;
  line-height: 2;
  transition: background 1s linear;
}

.nav ul li a,
.nav .submenu li a {
  color: white;
  width: 100%;
  font-size: 110%;
  font-family: 'angelina';
  transition: all .15s linear;
  line-height: 1.5;
}

.nav ul li a:hover {
  color: black;
}

.nav ul li:hover {
  background: #D8C1E3;
}

/*---------sub menu navigation-------------*/
.nav ul li > ul {
  display: none;
}

.nav .submenu-li:after {
  content: "\25BC";
  color: white;
  font-size: 70%;
  padding-left: .25em;
  vertical-align: baseline;
  color: white;
  cursor: pointer;
}

.nav .submenu {
  position: absolute;
  left: 55%;
  top: 46px;
  display: block;
  width: 140px;
  z-index: 2000;
  background: #815397;
}

.nav .submenu li {
  display: block;
  width: 100%;
}

.nav .submenu li a {
  padding: 0 .5em;
  width: 100%;
}

/*============Page Styles=================*/
/*----------white-page styles-----------*/
.white-page .first-title {
  background: none;
  font-size: 150%;
  margin: auto;
  padding: 3% 0 .5%;
}

.white-page h1 {
  background: rgba(129, 130, 133, 0.4);
  /*    position: relative;*/
  font-size: 150%;
  padding: 1em .5em;
  line-height: 1.2em;
  margin: auto;
}

.white-page h2 {
  margin-top: 2em;
  line-height: 1.5;
  background: rgba(129, 130, 133, 0.6);
  font-size: 100%;
  color: white;
  width: 100%;
  padding: 1% 0;
  margin: 1% auto;
  line-height: 1;
}

.white-page h3 {
  padding-top: 1em;
  line-height: 1.2;
  text-align: center;
}

.white-page img {
  fill: #E47825;
}

.white-page main a {
  color: #0285BF;
}

/*-----------blue-page styles---------------*/
.blue-page main, .purple-page main {
  width: 100%;
  position: relative;
  display: block;
  background: #0285bf;
  padding-bottom: 3%;
}

.blue-page .first-title, .purple-page .first-title {
  color: white;
  padding: 3% 0 .5%;
}

.blue-page h2, .purple-page h2 {
  color: #0285bf;
  font-weight: bold;
  padding: 1em .5em 0;
}

.blue-page h3, .purple-page h3 {
  text-align: center;
  color: #0285bf;
  font-size: 120%;
}

.brown-page main {
  background: #946E4A;
}

.purple-page main {
  background: #815397;
  padding-bottom: 10%;
}

.purple-page .nav, .purple-page #menu {
  border-bottom: 1px solid white;
}

.purple-page .nav:after, .purple-page nav ul:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid #714985;
}

.brown-page h1, .purple-page h1 {
  color: white;
  font-family: "angelina";
  padding: 1em 0 0;
}

.brown-page main a, .purple-page main address a {
  color: white;
  text-decoration: none;
}

.brown-page a:hover, .purple-page a:hover {
  color: black;
}

/*================aside styles=====================*/
.aside {
  background: #E47825;
  color: white;
}

.aside h1 {
  background: #E47825;
  font-family: "angelina";
  font-size: 200%;
  color: white;
  background: none;
  padding: .5em;
}

.aside h2 {
  background: #CA6B21;
}

.aside em {
  font-family: 'myriad-pro';
  color: white;
  font-size: 100%;
  font-weight: bold;
  text-transform: none;
}

.aside a, .aside p a {
  color: white;
  text-decoration: underline;
}

.aside ol {
  padding-left: 4em;
}

/*==============Article Portal STyles==============================*/
.front-page {
  padding-top: 0;
}

#hero {
  position: relative;
  width: 100%;
  display: block;
  background: url(../images/BMB_WebBanner1300T-905ba8da37.png) no-repeat;
  background-position: top 1em center;
  background-size: cover;
  margin-bottom: 0;
}

.enter {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 36%;
  justify-content: space-around;
  align-items: center;
}

.enter h2 {
  font-size: 120%;
  margin-left: 0;
  margin-right: 7%;
  min-width: 213px;
  flex: 3;
  padding: 5% 0 0;
  font-weight: 500;
}

.enter h2:after {
  content: "===========>";
}

.door {
  background: url(../images/Door_Portal_25p-9bfaec35f6.png) no-repeat;
  background-position: center top;
  min-width: 100px;
  max-width: 150px;
  height: 150px;
  flex: 1;
  margin-right: 4%;
  margin-top: 5%;
  transition: box-shadow .15s linear;
  transition: webkit-box-shadow .15s linear;
  transition: moz-box-shadow .15s linear;
}

.door:hover {
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
  border-radius: 10%;
  background-position: center -215px;
}

/*=================footer styles=====================================*/
footer {
  font-size: 70%;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  bottom: 0;
  background: #815397;
  color: white;
  z-index: 0;
  align-items: center;
}

footer div,
footer p {
  display: block;
  text-align: center;
}

footer div {
  margin: .5% 1%;
}

footer a.footer-anchor {
  color: white;
  text-decoration: underline;
}

footer a.footer-anchor:hover {
  color: black;
}

a.footer-anchor span {
  letter-spacing: 5px;
}

/*==================choose portal section cat1=======================*/
.choose-icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.cat1 {
  width: 170px;
  margin: 0 5% 4%;
}

.cat1 div {
  width: 100%;
  background: url(../images/Portal_Icons_5Colors160pix-6c0c37cfc8.png) no-repeat #fafafa;
  display: block;
  min-height: 200px;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
}

.cat1 h2 {
  font-family: "angelina";
  font-size: 150%;
  padding: 0;
  padding-top: .5em;
  color: #0285BF;
  background: none;
}

#team {
  background-position: 9.5px -520px;
  min-width: 25%;
}

#ie-portal {
  background-position: center -830px;
  min-width: 25%;
}

.cat1:hover #team,
cat1:focus #team,
cat1:visited #team {
  background-position: center -1027px;
}

.cat1:hover #ie-portal,
cat1:focus #ie-portal,
cat1:visited #ie-portal {
  background-position: 2px -1401.5px;
}

.cat1:hover cat1:visited h2 {
  color: #946E4A;
}

/*===================Article Sections Cat 2)======================*/
.cat2-list a {
  display: block;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  width: 350px;
  background: #fafafa;
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
  margin: 2% 2%;
  text-decoration: none;
}

.cat2-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cat2 h3 {
  font-family: "angelina";
  color: #0285BF;
  font-size: 150%;
  padding-top: 8%;
}

.cat2 p {
  padding: 0 5%;
  padding-bottom: 8%;
}

ol li {
  counter-increment: item;
  margin-bottom: 5px;
}

ol li:before {
  margin-right: 10px;
  font-family: angelina;
  content: counter(item);
  background: #815397;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

#individual,
#core-value,
#body-talk,
#squares {
  counter-reset: h4;
}

#individual h4,
#core-value h4,
#body-talk h4,
#squares h4 {
  counter-increment: h4;
  padding: .5em 0;
  font-size: 110%;
  font-weight: bold;
}

#individual h4:before,
#core-value h4:before,
#body-talk h4:before,
#squares h4:before {
  background: #815397;
  line-height: 2em;
  font-size: 120%;
  font-weight: normal;
  font-family: "angelina";
  padding: .5em;
  color: white;
  margin-right: .5em;
  margin-left: .2em;
}

#individual h4:before {
  Content: "Phase " counter(h4) ":";
}

#core-value h4:before,
#body-talk h4:before,
#squares h4:before {
  content: "Step " counter(h4) ":";
}

#individual blockquote {
  font-size: 100%;
}

/*===========Claim of Worth Styles==========*/
.signature {
  display: flex;
  line-height: 1;
  font-family: "angelina";
  font-weight: bold;
  color: #815397;
  font-size: 200%;
  align-items: center;
}

.signature img {
  display: inline-block;
  padding: .5em;
  width: 8%;
}

/*==============DIY Exercises Styles ============================*/
.narrow-list {
  max-width: 300px;
}

#diy-exercises a {
  color: #0285BF;
  text-decoration: underline;
}

a i {
  color: black;
  float: right;
}

h1 a i {
  float: none;
  padding-left: 1em;
  color: #0285BF;
}

a:hover i, a:visited i {
  color: #946E4A;
}

/*----styles for squares quadrants------*/
#quadrant {
  display: block;
  border: 3px solid #815397;
  width: 309px;
  margin: auto;
}

#quadrant .row {
  width: 100%;
  display: flex;
  height: 100px;
}

#quadrant .box {
  width: 50%;
  padding: .5em;
  text-align: center;
}

#box1,
#box3 {
  border-right: 3px solid #815397;
}

#box1,
#box2 {
  border-bottom: 3px solid #815397;
}

#success {
  border: 3px solid #815397;
  padding: .5em;
  width: 50%;
  min-width: 300px;
  margin: auto;
}

#success p {
  border: 1px solid black;
  font-weight: bold;
  padding: none;
  text-align: center;
  background: #815397;
  color: white;
  line-height: 3;
  margin-top: 0;
}

#success li {
  list-style-type: circle;
  margin-left: 1em;
}

/*======================ABOUT US STYLES================================*/
#about-us {
  width: 100%;
  max-width: 1300px;
  background: white;
}

.us {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.us:last-of-type {
  padding-bottom: 2em;
}

.header {
  display: flex;
  padding-top: 200px;
}

.titles {
  display: block;
  flex: 2;
  padding-top: 2%;
  z-index: -2;
}

.titles h2,
.titles h3 {
  display: block;
  width: 100%;
  color: white;
  font-size: 130%;
  text-align: left;
  padding: 0;
  letter-spacing: 5px;
  margin: 0;
  padding-left: 80px;
  margin-left: -80px;
  background: rgba(0, 0, 0, 0.3);
}

.titles h2 {
  font-weight: bold;
  font-size: 150%;
}

.us-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 7px white;
  margin: 0;
}

#deb {
  background: url(../images/dame_ranch_1300-3d9395a38d.jpg) no-repeat;
  background-attachment: scroll;
  background-position: center -80px;
  background-size: contain;
  margin: auto;
}

#deb .us-img {
  background-attachment: fixed;
  background: url(../images/deb_spartan_cropped-759198fff8.jpg) no-repeat #e7e7e7;
  background-position: center top;
  margin-right: 2%;
}

#kristin {
  background: url(../images/RV-rainbow-1300-9babe88c80.jpg) no-repeat;
  background-attachment: scroll;
  background-position: center -100px;
  background-size: contain;
  margin: auto;
}

#kristin .us-img {
  background-attachment: fixed;
  background: url("../images/KS_headjpg-7b2bca424f.jpg") no-repeat;
  background-position: center -20px;
}

.bio {
  width: 90%;
  position: relative;
  background: #0285BF;
  border: 2px solid white;
  padding: 1em 0;
  margin-top: -100px;
  margin-left: 5%;
  z-index: -1;
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
}

.bio p:first-of-type {
  margin-left: 19%;
}

.bio p {
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

.bio p a {
  color: white;
  text-decoration: underline;
  letter-spacing: 2px;
}

.bio p em {
  color: white;
  line-height: .5;
}

/*----------------TESTIMONIAL STYLES--------------------*/
.t-wrapper {
  width: 80%;
  max-width: 960px;
  margin: auto;
}

.t-wrapper h2 {
  font-weight: normal;
  color: white;
}

.testimonial p:first-of-type:before {
  content: '\201C';
}

.testimonial p:first-of-type:after {
  content: '\201D';
}

.testimonial.carousel-test p:first-of-type:before {
  content: '\201C\2026';
}

.testimonial.carousel-test p:first-of-type:after {
  content: '\2026\201D';
}

.testimonial.carousel-test {
  /*    min-height: 185px;*/
  border: 7px solid #E47825;
}

#carousel {
  position: relative;
  background: none;
  min-height: 225px;
  margin: auto;
}

.button {
  display: flex;
  justify-content: center;
}

.button a {
  padding: .3em .75em;
  background: #818285;
  color: white;
  border-radius: 20%;
  margin: .3em 2em .3em;
}

.button a:hover {
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
}

.testimonial {
  position: relative;
  background: white;
  border: 2px solid white;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  margin: 1em auto;
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
}

.testimonial p {
  padding-left: 1em;
  padding-right: 1em;
  color: black;
}

.t-carousel {
  width: 80%;
  margin: auto;
}

.t-carousel a {
  display: block;
}

/*===============address styles====================*/
address {
  width: 30%;
  position: relative;
  min-width: 250px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  display: block;
  padding: 2% 0;
  font-size: 80%;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

address:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid #714985;
}

address p {
  text-align: center;
}

#twitter img {
  border-radius: 50%;
  width: 100%;
}

#twitter {
  width: 25px;
}

.social-media div {
  padding: 1em .5em;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/*=============email form styles===============*/
form {
  width: 90%;
  margin: auto;
  padding-bottom: 1em;
}

input[type=text],
input[type=email] {
  width: 100%;
  font-family: "myriad-pro" sans-serif;
  font-size: 100%;
}

#text-area-send {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8em;
}

#to-email,
#from-email {
  max-width: 550px;
  padding-bottom: 1em;
}

.form-entry {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 1em;
}

#firstname {
  flex: 1;
  margin-right: 1em;
  max-width: 178px;
  min-width: 117px;
}

#lastname {
  flex: 2;
  max-width: 345px;
}

.form-entry div label {
  display: block;
  color: white;
}

input[type=submit] {
  font-family: "myriad-pro" sans-serif;
  font-size: 100%;
  color: white;
  background: #0285BF;
  border-radius: 10%;
  padding: .5em;
  display: block;
  border: none;
  margin-left: 1em;
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
}

input[type=submit]:hover {
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -webkit-box-shadow: 10px 10px 12px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 12px 0px #5c5c5c;
  box-shadow: 10px 10px 12px 0px #5c5c5c;
}

s #text-area-send #message {
  width: 100%;
  height: 250px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: inherit;
  font-size: 90%;
}

input:focus,
textarea:focus {
  outline: 2px solid #0285BF;
}

/*===============responsive styles===============*/
#menu {
  display: none;
}

/*---media query to center fixed nav bar with screens greater than 1300px*/
@media only screen and (min-width: 1300px) {
  .nav,
  #logo {
    left: 50%;
    margin-left: -650px;
  }

  .cat2-list a {
    width: 450px;
  }

  div.back-to-top {
    left: 12%;
  }
}
/*================max-width 928 px*/
@media only screen and (max-width: 928px) {
  #hero {
    background: url(../images/BMB_WebBanner960T-77169de328.png) no-repeat white;
    background-position: center top 25px;
  }

  #logo {
    height: 80px;
  }

  #portal-menu.submenu {
    left: 35%;
  }

  .cat2 a {
    width: 250px;
  }

  main {
    padding-top: 145px;
  }

  .enter {
    padding-top: 40%;
  }

  .enter h2 {
    font-size: 100%;
  }

  .nav {
    top: 80px;
  }
}
@media only screen and (max-width: 790px) {
  #hero {
    background: url(../images/BMB_WebBanner750-c96f44772d.png) no-repeat white;
    background-position: center top 25px;
  }

  .enter {
    padding-top: 36%;
  }

  .enter h2 {
    font-size: 90%;
  }

  .enter h2:after {
    content: "";
  }
}
/**/
/*=======max width 678px==============*/
@media only screen and (max-width: 678px) {
  body {
    width: 100%;
    font-size: 100%;
  }

  main {
    padding-top: 112px;
    width: 95%;
  }

  .nav {
    -webkit-transform: translate(-900px, 0);
    transform: translate(-900px, 0);
    /*         Optionally, we animate the drawer. */
    transition: transform .5s ease;
    z-index: 10;
    width: 25%;
  }

  .nav ul {
    display: inline-block;
  }

  #menu {
    display: inline-block;
    background: #815397;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
  }

  /*--place menu at top for first page------*/
  #first-page #menu {
    top: 0px;
  }

  #menu svg {
    width: 41px;
    fill: white;
    padding-left: 4%;
  }

  #menu svg:hover {
    fill: #818285;
  }

  /*========styling for the menu-respond class on hamburger-------*/
  /* -----------offset so sections land below header-------*/
  .offset {
    display: block;
    content: "";
    height: 100px;
    /* Give height of your fixed element */
    /* Give negative margin of your fixed element */
    margin-top: -100px;
    visibility: hidden;
  }

  /*-------dynamic menu styling----------------------*/
  .menu-respond {
    position: fixed;
    top: 101px;
    width: 140px;
    transition: transform 0 .5s ease;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    /*         Optionally, we animate the drawer. */
  }

  /*----side menu fits below logo and hamburger for portal page---*/
  #first-page .menu-respond {
    top: 45px;
  }

  .menu-respond ul li a,
  .nav .submenu-sm li a {
    font-size: 1.5em;
    line-height: 2em;
  }

  .menu-respond > ul > li:hover,
  .menu-respond > ul > li:focus {
    background: #D8C1E3;
  }

  .nav .smSubmenuLi:after {
    content: "\25BA";
  }

  .nav .smSubmenuLi {
    color: white;
  }

  .nav .submenu-sm {
    display: block;
    position: absolute;
    background: #815397;
    top: 36px;
    left: 140px;
    z-index: 2000;
  }

  #hero {
    background: url(../images/BMB_WebBannerHead_750-3528255f22.png) no-repeat white;
    background-position: center top 45px;
    background-size: contain;
  }

  .enter {
    display: block;
    padding-top: 40%;
    width: 100%;
  }

  .enter h2 {
    display: block;
    margin-right: 0;
  }

  .door {
    display: block;
    background: url(../images/OpenDoor_25p-b3d616308d.png) no-repeat;
    background-size: contain;
    background-position: center top;
    min-width: 50px;
    width: 50px;
    height: 80px;
    padding: 2%;
    margin: 1em auto;
    border-radius: 10%;
    -webkit-box-shadow: 8px 8px 9px 0px #5c5c5c;
    -moz-box-shadow: 8px 8px 9px 0px #5c5c5c;
    box-shadow: 8px 8px 9px 0px #5c5c5c;
  }

  .door:hover {
    background: url(../images/OpenDoor_25p-b3d616308d.png) no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-box-shadow: 8px 8px 9px 0px #0285BF;
    -moz-box-shadow: 8px 8px 9px 0px #0285BF;
    box-shadow: 8px 8px 9px 0px #0285BF;
  }

  #logo, .logo-pic1 #logo, .logo-pic2 #logo, .logo-pic3 #logo {
    background: url(../images/BMB_logo_no_tag_25p-d5e21d48c7.png) no-repeat;
    height: 56px;
    background-position: top center;
    width: 100%;
    background-color: white;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }

  .brown-page main {
    width: 100%;
  }

  /*------------about us styles--------------------*/
  .us {
    width: 90%;
  }

  blockquote {
    width: 75%;
    font-size: 100%;
  }

  .bio {
    width: 100%;
    margin: auto;
    margin-top: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }

  .bio p {
    padding-right: .5em;
    padding-left: .5em;
  }

  .bio p:first-of-type {
    margin-left: 0;
  }

  #deb, #kristin {
    background: none;
  }

  .header {
    position: relative;
    display: block;
    padding: 1em 0 0;
    margin: auto;
  }

  .us-image {
    z-index: 1000;
    position: relative;
    z-index: 1;
  }

  #deb .us-img, #kristin .us-img {
    display: block;
    margin: auto;
  }

  .titles {
    position: relative;
    margin: auto;
    padding-top: 103px;
    margin-top: -100px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  .titles h2, .titles h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    background: none;
  }

  /*-----------testimonial sytles*/
  #carousel {
    min-height: 190px;
  }

  .t-carousel {
    width: 95%;
  }

  .t-wrapper {
    width: 100%;
  }

  .div-back-top {
    font-size: 100%;
  }

  /*-------------form styles-------------*/
  .form-entry {
    display: block;
  }

  /*------------footer styles------------*/
  footer {
    display: block;
    padding: 2% 0;
  }
}
/*end of max-width: 678px media query*/
