/*============================Navigation styles================================*/

.nav {
    position: fixed;
    top: 100px;
    text-align: center;
    width: 100%;
    background: $purple;
    z-index: 100;
}


/*----placing first page nav element at top----*/

#first-page .nav {
    top: 0;
}


/*---remove logo from front page-----*/

#first-page #logo {
    display: none;
}

#logo {
    width: 100%;
    // height: 100px;
    position: fixed;
    height: 100px;
    left: 0;
    background: url("../images/BMB_Web_MiniBanner1.png") no-repeat white;
    background-position: center top;
    background-size: contain;
    margin: 0;
    z-index: 200;
}

.logo-pic2 #logo {
    background: url("../images/BMB_Web_MiniBanner2.png") white no-repeat;
    background-position: center top;
    background-size: contain;
}

.logo-pic3 #logo {
    background: url(../images/Back2Back_AboutUsBanner.png) black no-repeat;
    background-position: center top;
    background-size: contain;
}

.nav ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.nav ul li {
    align-items: center;
    line-height: 2;
    transition: background 1s linear, color 1s linear;
    }



.nav ul li a,
.nav .submenu li a {
    color: white;
    padding: .75rem;
    width: 100%;
    font-size: 110%;
    font-family: 'angelina';
    transition: all .15s linear;
    line-height: 1.5;
    cursor: pointer;
}

.nav .submenu li a {
  padding-right: 0;
}

.nav ul li a:hover {
    color: black;
}

.nav ul li:hover {
    background: $ltpurple;
}


/*---------sub menu navigation-------------*/

.nav ul li > ul {
    display: none;
}

.nav .submenu-li:after {
    content: "\25BC";
    color: white;
    padding-right: .75rem;
    font-size: 70%;
    padding-left: .25em;
    vertical-align: baseline;
    color: white;
    cursor: pointer;
}

.nav .submenu {
    position: absolute;
    left: 55%;
    top: 46px;
    display: block;
    width: 140px;
    z-index: 2000;
    background: $purple;
}

.nav .submenu li {
    display: block;
    width: 100%;
    background: $purple;
}

.nav .submenu li a {
    padding: 0 .5em;
    width: 100%;
}
