
/*======================
limited reset===============================*/

html,
body,
div,
section,
main,
article,
aside,
header,
hgroup,
footer,
nav,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video,
th,
td,
tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    z-index: 0;
    text-decoration: none;
    list-style: none;
}


/*html5 display rule*/

address,
article,
main,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
    display: block;
    position: relative;
}

* {
  box-sizing: border-box;
}
