

/*==================choose portal section cat1=======================*/
 .body-content .inspired-text, .body-content article {
  width: 100%;
  padding-left: 10px;
}

.body-content aside, .body-content .inspired-text.aside {
  width: 95%;
  padding-left: 0;
}

#deb-main-img {
  position: absolute;
  width: 100%;
  max-width: 500px;
  z-index: 2;
  right: 0px;
  top: 0;
}

.front-page {
  margin-top: 39px;
  // height: 120vh;
  /*calculate the height of big deb img*/
}

.body-content {
  position: absolute;
  background: transparent;
  height: 443px; /*calculate big deb-main-img minus .logo-main-img*/
  width: 60%;
  top: 157px; /*calculate as logo-img-size*/
  left: 0;
  z-index: 3;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


#logo-main-img{
  position: absolute;
  padding-top: 1rem;
  top: 0;
  z-index: 1;
  width: 100%;
  background: white;
}


.choose-icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.cat1 {
    width: 170px;
    margin: 0 5% 4%;
}

.cat1 div {
    width: 100%;
    background: url(../images/Portal_Icons_5Colors160pix.png) no-repeat #fafafa;
    display: block;
    min-height: 200px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 10px 10px 12px 0px rgba(92, 92, 92, 1);
    -moz-box-shadow: 10px 10px 12px 0px rgba(92, 92, 92, 1);
    box-shadow: 10px 10px 12px 0px rgba(92, 92, 92, 1);
}

.cat1 h2 {
    font-family: "angelina";
    font-size: 150%;
    padding: 0;
    padding-top: .5em;
    color: $blue;
    background: none;
}

#team {
    background-position: 9.5px -520px;
    min-width: 25%;
}

#ie-portal {
    background-position: center -830px;
    min-width: 25%;
}

.cat1:hover #team,
cat1:focus #team,
cat1:visited #team {
    background-position: center -1027px;
}

.cat1:hover #ie-portal,
cat1:focus #ie-portal,
cat1:visited #ie-portal {
    background-position: 2px -1401.5px;
}

.cat1:hover cat1:visited h2 {
    color: $brown;
}


/*===================Article Sections Cat 2)======================*/

.cat2-list a {
    display: block;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    min-width: 200px;
    width: 46%;
    background: #fafafa;
    -webkit-box-shadow: 10px 10px 12px 0px rgba(92, 92, 92, 1);
    -moz-box-shadow: 10px 10px 12px 0px rgba(92, 92, 92, 1);
    box-shadow: 10px 10px 12px 0px rgba(92, 92, 92, 1);
    margin: 2% 2%;
    text-decoration: none;
}

.cat2-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cat2 h3 {
    font-family: "angelina";
    color: $blue;
    font-size: 150%;
    padding-top: 8%;
}

.cat2 p {
    padding: 0 5%;
    padding-bottom: 8%;
}

ol li {
    counter-increment: item;
    margin-bottom: 5px;
}

ol li:before {
    margin-right: 10px;
    font-family: angelina;
    content: counter(item);
    background: $purple;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

#individual-anchor,
#core-value,
#body-talk,
#squares {
    counter-reset: h4;
}

#individual-anchor h4,
#core-value h4,
#body-talk h4,
#squares h4 {
    counter-increment: h4;
    padding: .5em 0;
    font-size: 110%;
    font-weight: bold;
}

#individual-anchor h4:before,
#core-value h4:before,
#body-talk h4:before,
#squares h4:before {
    background: $purple;
    line-height: 2em;
    font-size: 120%;
    font-weight: normal;
    font-family: "angelina";
    padding: .5em;
    color: white;
    margin-right: .5em;
    margin-left: .2em;
}

#individual-anchor h4:before {
    Content: "Phase "counter(h4)":";
}

#core-value h4:before,
#body-talk h4:before,
#squares h4:before {
    content: "Step "counter(h4)":";
}

#individual blockquote {
    font-size: 100%;
}


/*===========Claim of Worth Styles==========*/

.signature {
    display: flex;
    line-height: 1;
    font-family: "angelina";
    font-weight: bold;
    color: $purple;
    font-size: 200%;
    align-items: center;
    margin-left: 1rem;
    align-items:baseline;
}

.signature img {
    display: inline-block;
    width: 60px;
}

.signature p {
  padding: 0;
  margin: 0;
  padding-left: .25rem;
}
