/*=================footer styles=====================================*/

footer {
    font-size: 70%;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    bottom: 0;
    background: $purple;
    color: white;
    z-index: 0;
    align-items: center;
}

footer div,
footer p {
    display: block;
    text-align: center;
}

footer div {
    margin: .5% 1%;
}

footer a.footer-anchor {
    color: white;
    text-decoration: underline;
}

footer a.footer-anchor:hover {
    color: black;
}

a.footer-anchor span {
    letter-spacing: 5px;
}